<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>HEXplorer</Name>
    <Version>1.0.9</Version>
    <Title>HEXplorer online installation</Title>
    <Publisher>Ch.HOEL</Publisher>
    <StartMenuDir>HEXplorer</StartMenuDir>
    <TargetDir>@HomeDir@/HEXplorer</TargetDir>
    <RemoteRepositories>
        <Repository>
            <Url>https://nexus.lmb.liebherr.i/repository/raw-pd1/HEXplorer_repo/</Url>
        </Repository>
    </RemoteRepositories>
</Installer>
