<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>HEXplorer</Name>
    <Version>1.1.2</Version>
    <Title>HEXplorer</Title>
    <Publisher>Ch.HOEL</Publisher>
    <StartMenuDir>HEXplorer</StartMenuDir>
    <TargetDir>@HomeDir@/HEXplorer</TargetDir>
    <WizardStyle>Classic</WizardStyle>
    <StyleSheet>style.qss</StyleSheet>
    <RemoteRepositories>
        <Repository>
            <Url>https://nexus.lmb.liebherr.i/repository/raw-pd1/HEXplorer_repo/</Url>
        </Repository>
    </RemoteRepositories>
</Installer>
